body {
    background: url('../img/rojo.jpg');
    background-attachment: fixed;
}

#logo {
    background: #ca3414;
}

#menu ul li:hover {
    background: #ca3414;
}

.button-more {
    background: #ca3414;
}
