<h3>{{ titulo }}</h3>

<p>Add marca</p>
<p>
  <input type="text" [(ngModel)]="miMarca" (keyup.enter)="mostrarPalabra()" />
  <button (click)="getMarca()">Obtener marca</button>
  <button (click)="addMarca()">Add marca</button>
</p>
<strong>{{ miMarca }}</strong>

<p>Compra las zapatillas de las mejores marcas</p>

<ul>
  <li *ngFor="let marca of marcas; let indice = index">
    {{ indice + " " + marca }}
    <button (click)="borrarMarca(indice)">Borrar marca</button>
  </li>
</ul>

<p>Zapatillas</p>
<ul>
  <li *ngFor="let tenis of zapatillas">
    <span
      [ngStyle]="{ 'text-decoration': tenis.stock ? 'none' : 'line-through' }"
      >{{ tenis.nombre }}</span
    >
    -
    <strong
      [class.altoPrecio]="tenis.precio >= 80"
      [ngClass]="{
        fondoRojo: tenis.precio > 100
      }"
      class="subrayado"
      >{{ tenis.precio }}$
    </strong>
    <span
      *ngIf="tenis.precio <= 80"
      [style.background]="tenis.precio < 80 ? 'green' : 'transparent'"
      [style.color]="tenis.precio < 80 ? 'white' : 'black'"
    >
      En oferta</span
    >
  </li>
</ul>

<p>El color de la mayoria de nuestras zapatillas es:</p>
<input type="text" [(ngModel)]="color" />
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'yellow'">
    <span [ngStyle]="{ background: color }">Amarillo</span>
  </li>
  <li *ngSwitchCase="'red'">
    <span [ngStyle]="{ background: color }">Rojo</span>
  </li>
  <li *ngSwitchCase="'blue'">
    <span [ngStyle]="{ background: color }">Azul</span>
  </li>
  <li *ngSwitchCase="'orange'">
    <span [ngStyle]="{ background: color }">Naranja</span>
  </li>
</ul>
