<h1
  [ngStyle]="{
    background: config.fondo,
    color: config.color
  }"
>
  Bienvenido a {{ title }}
</h1>
<h2>{{ description }}</h2>

<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
  &nbsp;
  <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']"
    >Zapatillas</a
  >
  &nbsp;
  <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>
  &nbsp;
  <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']"
    >Videojuegos</a
  >
  &nbsp;
  <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Externo</a>
</nav>

<!-- 
<button (click)="hideVideogame()">Ocultar</button>
<button (click)="seeVideogame()">Mostrar</button>

<videojuego *ngIf="showVideogame"></videojuego>
<cursos></cursos>
-->
<!-- <zapatillas></zapatillas> -->
<router-outlet></router-outlet>
