<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p>{{ web }}</p>
</div>

<article class="about">
  <h2>Sobre mi</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit quis dolorum
    unde, sunt asperiores rerum et! Mollitia, voluptatibus voluptatem architecto
    fugiat consectetur aperiam dignissimos rem numquam, porro tempore placeat
    odit. Eaque praesentium iure, consequuntur laboriosam consectetur aliquam
    cum dicta adipisci iste placeat provident quam nesciunt! Molestias possimus
    exercitationem maxime culpa tenetur veritatis pariatur laboriosam ad, at
    voluptatibus. Laborum, provident cupiditate recusandae modi aspernatur
    voluptates laboriosam hic, eligendi harum unde impedit reprehenderit quaerat
    consequuntur corrupti quo maiores mollitia molestiae, assumenda ipsam. Alias
    expedita quae dolor vel ratione ex, nam rem nisi itaque quisquam ea aliquam,
    voluptates similique in modi quam dolorem.
  </p>
</article>
